doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/styles/layout.css")
    block css
    block scripts
  body
    header
      block header

    section
      block content

    footer
      block footer